/* Container que preenche o espaço entre o Header e o Footer */
.main-content {
  background-color: #ffffff;
  min-height: 100vh; /* Garante que a tela inteira fique branca mesmo se não tiver conteúdo */
  padding-top: 20px; /* Dá um espacinho do Header para o Título */
  padding-bottom: 80px; /* Garante que a tabela não fique escondida atrás do Footer (que tem 60px) */
  box-sizing: border-box;
}

/* Título igual ao print */
.section-title {
  color: #3f3f3f;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 0 10px 16px; /* Alinha o título com a borda da tabela (16px de margem esquerda) */
}

.section-title2 {
  color: #3f3f3f;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 20px 0 10px 16px; /* Alinha o título com a borda da tabela (16px de margem esquerda) */
}