.main-wrapper {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.welcome-title {
  text-align: left;
  font-size: 2.2rem;
  margin-top: 0;
  color: #3f3f3f;
  margin-bottom: 24px;
  font-weight: 500; 
}

.top-image {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.img-login {
  width: 435px;
  margin-left: 0;
  height: auto;
  display: block;
}

.login-box {
  width: 100%;
  max-width: 360px;
  background: #ffffff;
}

.field {
  margin-bottom: 28px;
}

.field label {
  display: block;
  font-size: 1.8rem;
  color: #3f3f3f;
  margin-bottom: 10px;
}

.custom-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e8a9af;
  border-radius: 0;
  background: transparent;
  padding: 10px 0;
  font-size: 1.6rem;
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .password-wrapper {
  width: 100%;
}

:host ::ng-deep .password-wrapper .p-password-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e8a9af;
  border-radius: 0;
  background: transparent;
  padding: 10px 0;
  font-size: 1.6rem;
  box-shadow: none;
}

:host ::ng-deep .password-wrapper .p-password {
  width: 100%;
}

.forgot-password {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 34px;
}

.forgot-password a {
  font-size: 1.4rem;
  color: #3f3f3f;
  text-decoration: none;
}

.login-button {
  width: 100%;
  height: 54px;
  border: none;
  background: #f78184;
  color: #ffffff;
  font-size: 2rem;
  font-style: italic;
  border-radius: 28px;
}

:host ::ng-deep .login-button .p-button-label {
  font-weight: 400;
}

.create-account {
  text-align: center;
  margin-top: 18px;
}

.create-account a {
  font-size: 1.4rem;
  color: #2f2f2f;
  text-decoration: none;
}

.custom-input::placeholder {
  color: #4a4a4a;
  opacity: 1;
  font-size: 1.1rem;
}

:host ::ng-deep .password-wrapper .p-password-input::placeholder {
  color: #4a4a4a;
  opacity: 1;
  font-size: 1.1rem;
}

:host ::ng-deep .custom-input:focus,
:host ::ng-deep .custom-input:hover,
:host ::ng-deep .custom-input.p-inputtext:focus,
:host ::ng-deep .password-wrapper .p-password-input:focus,
:host ::ng-deep .password-wrapper .p-password-input:hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: #e8a9af !important;
  background: transparent !important;
}

:host ::ng-deep .custom-input,
:host ::ng-deep .password-wrapper .p-password-input {
  color: #3f3f3f !important;
}

:host ::ng-deep .login-button:enabled:hover,
:host ::ng-deep .login-button:enabled:active,
:host ::ng-deep .login-button:enabled:focus,
:host ::ng-deep .login-button:focus {
  background: #f78184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}